{% extends 'app/base.html' %}

{% block css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'app/detail_page.css' %}">
  <title>게시글 상세</title>
{% endblock css %}

{% block title %}
        <h2>게시글 상세 페이지</h2>
{% endblock title %}

{% block button %}
<div class="btnss">
  <a class="btns" href="{% url 'list_page' %}">뒤로가기</a>
  <a class="btns" href="{% url 'edit_page' post.pk %}">수정하기</a>
  <a class="btns" href="{% url 'delete' post.pk %}">삭제하기</a>
</div>
{% endblock %}
{% block content %}
<p class="title">제목: {{ post.title }}</p>
  <p class="view">조회수: {{ post.hit }}</p>
  <p class="content">내용: {{ post.content }}</p>
  <form method="POST">
    {% csrf_token %}
    <input type="text" name="content" class='comment-input' placeholder="댓글을 입력해주세요">
    <button type="submit" class="button">작성</button>
  </form>

  {% for comment in post.comments.all %}
  <li>
    <span class="comment">{{ comment.content }}</span>
    <a class='comment-delete' href="{% url 'delete-comment' post.pk comment.pk %}">삭제</a>
  </li>
  {% endfor %}
{% endblock content %}
