<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}?after " />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Nanum+Gothic:wght@400;700;800&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <p class="Home1">Good Morning, Good Afternoon, Good Evening!</p>
    <p class="Home2">Lee Eau Chan Blog</p>
    <div class="navi">
        <div class="navi2">
            <div class="navi1">
                <a href="{% url 'list' %}" style="text-decoration:none">Home
            </div>
            <div class="navi1">
                <a href="{% url 'list_hobby' %}" style="text-decoration:none">Hobby
            </div>
            <div class="navi1">
                <a href="{% url 'list_food' %}" style="text-decoration:none">Food
            </div>
            <div class="navi3">
                <a href="{% url 'list_programming' %}" style="text-decoration:none">Programming</a>
            </div>
        </div>
    </div>    
    <div class="content">
        <div class="content2">
            <span class="content_title">WRITE</span>
            <a class='Return' href="{% url 'list' %}" style="text-decoration:none">RETURN</a>
        </div>
        <div class="content1">
        <form action="/new" method="post">
            {% csrf_token %}
            <div class="article_title">
                <p>TITLE</p>
            </div>
            <input class='type1' name="title" type="text">
            <div>
                <div class="article_category">CATEGORY</div>
                <div class='type2'>
                    <label><input type="radio" name="category" value="hobby">hobby</label>
                    <label><input type="radio" name="category" value="food">food</label>
                    <label><input type="radio" name="category" value="programming">programming</label>
                </div>
            </div>
            <div>
                <div class="article_content">CONTENT</div>
                <textarea class="type3" name="content" cols="30" rows="15"></textarea>
            </div>
            <button class='type4' type="submit">WRITE</button>
        </form>
    </div>
    </div>
    <div class = 'bottom'>
        <p>srja432130@gmail.com</p>
    </div>
</body>
</html>
