{% extends 'app/base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/login.css'%}" />
{% endblock css %} 

{% block title %}
        <h2>로그인</h2>
{% endblock title %}

{% block content %}

<section id="login">
    <form method="POST" action="">
        {% csrf_token %}
        {% if error %}
        <p>{{error}}</p>
        {% endif %}
        <input class="id" type="text" name="username" placeholder="아이디" />
        <br>
        <input class="password" type="password" name="password" placeholder="비밀번호" />
        <br>
        <button class="button">로그인</button>
    </form>
</section>

{% endblock content %}