.entire {
    display: flex;
    height:100px;
    flex-direction: row;
}

.container1 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.container2 {
    align-items: flex-end;
    position:flex;
    display: flex;
}

.box {
    display:inline-block;
    height: 50px;
    width: 50px;
    background-color: rgb(110, 110, 210);
    border-radius: 5px;
}