#container {
    display: inline-block;
    width: auto;
    width: 2000px;
}
#container1 {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 1000px;
    align-items: flex-start;
    margin: 0px;
    top: 0px;
    left: 20px;
}

#container1_1 {
    display: inline-block;
}

#con1 {
    display: inline;
    width:200px;
    margin-right: 50px;
}
#container1_1 {
    display: block;
}
.bold {
    display: inline;
}
#container2{
    display: inline-block;
    align-items: flex-start;
    left: 100px;
    top:10px;
}

#container3 {
    display:inline-block;
    height:50px;
    top: 100px;
    left: 20px;
}
.box {
    height: 50px;
    width: 50px;
    background-color: rgb(110, 110, 210);
    border-radius: 5px;
}